



.parent{
  background-color: aquamarine;
  height: 200px;
  width :200px;
padding: 20px;
}


.parent div{
  height: 50px;
}

.one{
  background-color: black;
  position: relative;
  /* top:70px;
  left:10px; */
}

.three{
  background: rebeccapurple;
}
.two{
  background-color: brown;
}
















































/* /* 
body {
  height: 600px;
  border: 4px dashed rebeccapurple;
  background-color: yellow;
  background-image:url(d.png); 
  /* background-image: url(b.jpg); */
  /* background-repeat: repeat;
  background-position: center; */
  /* background-size: cover; */
  
/* width: 300px;  */

  /* background-attachment: fixed; */
/* 
 */
/* 
body {
  /* height: 600px;
  border: 4px dashed rebeccapurple;
  */
  /* background-color: yellow; 
  background-image:url(imgs/d.png); 
  /* background-image: url(b.jpg); */
  /* background-repeat: repeat; */ 
  /* background-position: center; */
  /* background-size: cover; */
  
/* width: 300px;  */

  /* background-attachment: fixed; */
/* }


 */
/* 
 */















